body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f5feed;
  margin: 0;
  padding: 0; }

section {
  padding: 10px; }

h1 {
  border: 3px solid #9fff90;
  color: #9bfc6b;
  padding: 10px; }

em {
  color: #9bfc6b; }

li {
  padding: 5px 0; }

nav {
  background-color: #3cff22; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: inline-block;
    padding: 10px; }
    nav li a {
      display: block;
      background-color: #9bfc6b;
      padding: 10px;
      text-decoration: none;
      color: #fff; }
      nav li a:hover {
        background-color: #fffbee;
        color: #3cff22; }

a {
  display: block;
  background-color: #9bfc6b;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff; }
  a:hover {
    background-color: #fffbee;
    color: #3cff22; }

.logo img {
  display: inline-block;
  flex: 1; }

.bg-webpack {
  height: 200px; }

footer {
  display: inline-block;
  background-color: #fff; }
  footer img {
    padding: 23px; }
